<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<form class="form" action="/account/register" method="post">
    <label for="account_firstname">
        First Name:
    </label>
    <input type="text" name="account_firstname" id="account_firstname" 
    value="<%= locals.account_firstname %>"
    required>
    <label for="account_lastname">
        Last Name:
    </label>
    <input type="text" name="account_lastname" id="account_lastname" required
    value="<%= locals.account_lastname %>">
    <label for="account_email">
        Email:
    </label>
    <input type="email" name="account_email" id="account_email" 
    value="<%= locals.account_email %>" placeholder="Enter a valid email address"
    required>
    <label for="account_password">
        Password:
    </label>
    <span class="password-hint">Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
    <div class="pwd-input">
        <input type="password" name="account_password" 
        minlength="12" 
        id="account_password"
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        required>
        <button id="pswdBtn" type="button">Show</button>        
    </div>
    <button>Register</button>
</form>